* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input {
  outline: none;
  display: block;
  width: 100%;
  box-sizing: border-box;
}
button {
  border: none;
  outline: none;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
}
::-webkit-scrollbar-track {
  background-color: #f0f1f5;
}
